body {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-image: url("background-photo.png");
  background-size:  1200px 773px;
  background-position: top center;
  background-repeat: no-repeat;

  position: relative;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

a {
  text-decoration: none;
  color: #000000;
}
.site-navigation {
  margin: 0;
  padding: 0;
  min-height: 56px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-navigation-wrapper {
  width: 100%;
  background-color: #ffffff;
  min-height: 70px;
  margin-bottom: -15px;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px; 
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  margin: 10px auto;
  width: 239px;
  list-style: none;
  flex-shrink: 25%;
  box-sizing: border-box;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
  padding-left: 34px;
}

.site-navigation li:first-child {
  padding-left: 58px;
}

.site-navigation li:nth-child(2) {
  margin-right: 150px;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
  text-align: right;
  padding-right: 37px;
}

.site-navigation li:last-child {
  padding-right: 58px;
}

.current-page {
  color: #766357;
}

.main-navigation-logo {
  width: 140px;
  height: 71px;
  order: 2;
  object-fit: contain;
  position: absolute;

  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #bdbbbc;
}

.site-navigation a:active {
  color: #766357;
}


.welcome { 
  background-image:
  url(img/polygon.png),
  url(img/welcome.png), 
  url(img/background-photo.png);
  background-repeat: no-repeat;
  background-position: -1px 451.5px,
  370px 77px,
  0 -82px; 
  width: 1200px;
  min-height: 511px;
  margin: 0 auto;
  margin-bottom: -2px;
  padding: 0;
}

.main-intro {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
  padding-top: 60px;
  margin-bottom: 30px;
}


.features-intro-text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

h3 {
  font-size: 21px;
  font-weight: bold;
}

.intro {
  min-height: 256px;
  background-color: white;
  margin: 0 auto -40px auto;
}
 
.features-column-text {  
  color: #ffffff;  
  background-color: #81b3d2;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.3px;

  text-align: center;
  vertical-align: middle;

  width: 400px;
  min-height: 256px;
  margin-top: -7px;
}

.features-column-text > h3 {
  margin-top: 49px;
  margin-bottom: 25px;
}

.features-description {
  margin-top: 20px;
  letter-spacing: 0.2px;
}

.features-column-img {
  width: 800px;
}

.advantages {
  background-color: #ffffff;
  margin-top: -5px;
}

.advantages-column {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  color: #333333;
  width: 400px;
  text-align: center;
  box-sizing: border-box;
  width: 33%;
}

.house {
  min-height: 330px;
  background-color: #ffffff;
  background-image: URL("img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 87px 60px;
}

.food {
  min-height: 330px;
  background-color: #ffffff;
  background-image: URL("img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 104px 60px;
}

.present {
  min-height: 330px;
  background-color: #ffffff;
  background-image: URL("img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 100px 56px;
}

.advantages-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-top: 160px;
  margin-bottom: 25px;
}

.advantages-text {
  margin-bottom: 81px;
  text-align: center;
}

.advantage {
  width: 33%;
  min-height: 256px;

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}

.advantage > h3 {
  font-size: 21px;
  font-weight: bold;

  margin-top: 43px;
}

.interested {
  font-size: 30px;
  font-style: bold;
  color: #000000;
  line-height: 36px;
  text-align: center;

  margin-top: 25px;
}

.indicate {
  font-size: 14px;
  font-style: bold;
  color: #333333;
  line-height: 24px;
  text-align: center;

  margin-bottom: 42px;
}

@keyframes float {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.search-form {
  position: fixed;
  display: none;

  width: 568px;
  min-height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-sizing: border-box;
  padding: 55px;
  margin: 0 auto;

  font-family: inherit;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}

.form-show {
  display: block;
  animation: float 0.6s;
}

.search-form-flex p:first-child {
  margin-top: 0;
}

.search-form-flex input[type="text"] {
  width: 346px;
  height: 38px;
  box-sizing: border-box;
  padding: 14px 40px 13px 13px;
  margin-left: 21px;

  font-family: inherit;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: left;
  vertical-align: middle;
  color: #000000;
}

.date {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewBox='0 0 21 22'%3E%3Cpath fill='%23a9a9a9' d='M19.251 2.025h-2.845V.648c0-.381-.294-.689-.656-.689-.363 0-.656.308-.656.689v1.377h-3.938V.648c0-.381-.294-.689-.655-.689-.363 0-.657.308-.657.689v1.377H5.906V.648c0-.381-.294-.689-.656-.689-.363 0-.657.308-.657.689v1.377H1.75C.784 2.025 0 2.847 0 3.862v16.302C0 21.179.784 22 1.75 22h17.501c.966 0 1.749-.821 1.749-1.836V3.862c0-1.015-.783-1.837-1.749-1.837zm.437 18.139a.448.448 0 0 1-.437.459H1.75a.45.45 0 0 1-.438-.459V3.862a.45.45 0 0 1 .438-.459h2.844v1.378c0 .381.294.689.657.689.362 0 .656-.308.656-.689V3.403h3.938v1.378c0 .381.294.689.657.689.361 0 .655-.308.655-.689V3.403h3.938v1.378c0 .381.293.689.656.689.362 0 .656-.308.656-.689V3.403h2.845c.241 0 .437.206.437.459v16.302z'/%3E%3Cpath fill='%23a9a9a9' d='M4.594 8.225h2.625v2.066H4.594zM4.594 11.668h2.625v2.067H4.594zM4.594 15.112h2.625v2.066H4.594zM9.188 15.112h2.625v2.066H9.188zM9.188 11.668h2.625v2.067H9.188zM9.188 8.225h2.625v2.066H9.188zM13.781 15.112h2.625v2.066h-2.625zM13.781 11.668h2.625v2.067h-2.625zM13.781 8.225h2.625v2.066h-2.625z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 318px center;
  background-color: #a9a9a9;
}

.date:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewBox='0 0 21 22'%3E%3Cpath fill='%23231f20' d='M19.251 2.025h-2.845V.648c0-.381-.294-.689-.656-.689-.363 0-.656.308-.656.689v1.377h-3.938V.648c0-.381-.294-.689-.655-.689-.363 0-.657.308-.657.689v1.377H5.906V.648c0-.381-.294-.689-.656-.689-.363 0-.657.308-.657.689v1.377H1.75C.784 2.025 0 2.847 0 3.862v16.302C0 21.179.784 22 1.75 22h17.501c.966 0 1.749-.821 1.749-1.836V3.862c0-1.015-.783-1.837-1.749-1.837zm.437 18.139a.448.448 0 0 1-.437.459H1.75a.45.45 0 0 1-.438-.459V3.862a.45.45 0 0 1 .438-.459h2.844v1.378c0 .381.294.689.657.689.362 0 .656-.308.656-.689V3.403h3.938v1.378c0 .381.294.689.657.689.361 0 .655-.308.655-.689V3.403h3.938v1.378c0 .381.293.689.656.689.362 0 .656-.308.656-.689V3.403h2.845c.241 0 .437.206.437.459v16.302z'/%3E%3Cpath fill='%23231f20' d='M4.594 8.225h2.625v2.066H4.594zM4.594 11.668h2.625v2.067H4.594zM4.594 15.112h2.625v2.066H4.594zM9.188 15.112h2.625v2.066H9.188zM9.188 11.668h2.625v2.067H9.188zM9.188 8.225h2.625v2.066H9.188zM13.781 15.112h2.625v2.066h-2.625zM13.781 11.668h2.625v2.067h-2.625zM13.781 8.225h2.625v2.066h-2.625z'/%3E%3C/svg%3E ");
}

.date:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewBox='0 0 21 22'%3E%3Cpath fill='%2381b3d2' d='M19.251 2.025h-2.845V.648c0-.381-.294-.689-.656-.689-.363 0-.656.308-.656.689v1.377h-3.938V.648c0-.381-.294-.689-.655-.689-.363 0-.657.308-.657.689v1.377H5.906V.648c0-.381-.294-.689-.656-.689-.363 0-.657.308-.657.689v1.377H1.75C.784 2.025 0 2.847 0 3.862v16.302C0 21.179.784 22 1.75 22h17.501c.966 0 1.749-.821 1.749-1.836V3.862c0-1.015-.783-1.837-1.749-1.837zm.437 18.139a.448.448 0 0 1-.437.459H1.75a.45.45 0 0 1-.438-.459V3.862a.45.45 0 0 1 .438-.459h2.844v1.378c0 .381.294.689.657.689.362 0 .656-.308.656-.689V3.403h3.938v1.378c0 .381.294.689.657.689.361 0 .655-.308.655-.689V3.403h3.938v1.378c0 .381.293.689.656.689.362 0 .656-.308.656-.689V3.403h2.845c.241 0 .437.206.437.459v16.302z'/%3E%3Cpath fill='%2381b3d2' d='M4.594 8.225h2.625v2.066H4.594zM4.594 11.668h2.625v2.067H4.594zM4.594 15.112h2.625v2.066H4.594zM9.188 15.112h2.625v2.066H9.188zM9.188 11.668h2.625v2.067H9.188zM9.188 8.225h2.625v2.066H9.188zM13.781 15.112h2.625v2.066h-2.625zM13.781 11.668h2.625v2.067h-2.625zM13.781 8.225h2.625v2.066h-2.625z'/%3E%3C/svg%3E ");
}

.search-form-flex input[type="number"] {
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  padding-left: 11px;

  font-family: inherit;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}

.search-form-flex input[type="number"]::before,
.search-form-flex input[type="number"]::after  {
  content: "";
  
  border: 1px solid #000000;

  width: 38;
  height: 38;
  background-color: #f2f2f2;
}

.number {
  margin-top: 20px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 458px;
  min-height: 38px;
}

/*.number label {
  margin-right: 41px;
  margin-left: 53px;
}*/

.search-hotel-button {
  width: 568px;
  height: 86px;
  margin: 0 316px;
  font-family: inherit;
  background-color: #766357;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.search-hotel-button:hover {
  background-color: #604e43;
}

.search-hotel-button:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-button {
  width: 458px;
  height: 58px;
  font-family: inherit;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.arrival,
.departure {
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
}

.arrival:hover,
.departure:hover {
background-color: #ebebeb;
}

.arrival:focus,
.departure:focus {
background-color: #ffffff;
}

.children,
.adult {
  display: flex;
  width: 230px;
}

.adult > label {
  padding-top: 10px;
  margin-right: 41px;
}

.children > label {
  padding-top: 10px;
  margin-left: 53px;
  margin-right: 27px;
}

.search-form-flex input {
  border: none;
}

.btn-minus,
.btn-plus {
  display: inline-block;
  width: 39px;
  height: 39px;
  background-color: #f2f2f2;
  border: none;
  position: relative;
  z-index: 5;
}

.btn-minus::after {
  content: "";
  position: absolute;

  width: 10px;
  height: 3px;
  background-color: #a9a9a9;
  top: 50%;
  left: 40%;
}

.btn-plus::before {
  content: "";
  position: absolute;

  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  top: 45%;
  left: 38%;
}

.btn-plus::after {
  content: "";
  position: absolute;

  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  top: 45%;
  left: 38%;

  transform: rotate(90deg);
}

.btn-minus:hover::after,
.btn-plus:hover::before,
.btn-plus:hover::after {
  background-color: #000000;
}

.btn-minus:active::after,
.btn-plus:active::before,
.btn-plus:active::after {
  background-color: #81b3d2;
}

.map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

/*.map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}*/

.footer{
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  opacity: 0.9;
  background-color: #ffffff;

  position: absolute;
  width: 1200px;
  min-height: 120px;
  box-sizing: border-box;


}

.contact-us {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.hashtag {
  margin-top: 36px; 
}

.phone-number {
margin-top: -16px;
}

.footer.visit {
  width: 136px;
  height: 16px;
}

.social {
  list-style: none;
}

.footer-social {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-button {
  background-color: #81b3d2;
  background-size: 46px 48px;
  height: 48px;
  width: 46px;
  margin: auto;
  display: flex;
  margin-right: 6px;
}

.twitter svg {
  margin: 15px auto;
}

.facebook svg {
  margin: 12px auto;
}

.youtube svg {
  margin: 15px auto;
}
  
a.social-button:hover,
a.search-button:hover {
  background-color: #669ec0;
}

a.social-button:focus path{
  opacity: 0.3;
  background-color: #5496bd;
}

a.search-button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.by-htmlacademy {
  color: #231f20;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  display: flex;
  align-items: center;

  width: 25%;
  margin: 0 auto;
}

.by {
margin-right: 8px;
}

a.academy-button:hover path{
  fill: #81b3d2;
}

a.academy-button:focus path {
  fill: #bdbbbc;
}

/* Index */

.hotel-filter {
  width: 1200px;
  min-height: 217px;
  box-sizing: border-box;
  background-image: URL("img/background.png");
  background-repeat: no-repeat;
  background-position: 0 -290px;
  background-size: cover;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
} 

.filter-title {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-align: center;
  
  color: #ffffff;
  display: block;
}

.filter-title:first-child {
  margin-top: 17px;
  margin-left: -8px;
  margin-bottom: 26px;
}

.filter {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  display: block;
  padding-left: 2.5em;
  margin-bottom: 30px;
} 

.infrastructure label {
  margin-bottom: 23px;
  margin-left: -5px;
}

.checkbox-indicator {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23ffffff' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;

  margin-left: -2.5em;
}

.filter:checked + .checkbox-indicator {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23ffffff' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23ffffff' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
  background-size: cover;
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.filter:focus + .checkbox-indicator {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23ffffff' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E");
  background-size: cover;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.filter:checked:focus + .checkbox-indicator {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23ffffff' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23ffffff' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
  background-size: cover;
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.filter:disabled + .checkbox-indicator {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%236a6a6a' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-size: cover;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.filter:checked:disabled + .checkbox-indicator {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%236a6a6a' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%236a6a6a' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
  background-size: cover;
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.infrastructure {
  margin-left: 80px;
}

.hotel-type {
  margin-left: 90px;
}

.hotel-type label {
  margin-bottom: 23px;
  margin-left: 30px;
  padding-left: 2.5em;
}

.filter-range {
  width: 314px;
  margin-top: 23px;
  margin-left: 350px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  height: 36px;
  margin-bottom: 20px;
  position: relative;

  border: 2px solid #ffffff;
  border-radius: 2px;
  
  font-size: 0;
}

.price-controls::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 30px auto 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.hotel-found {
  background-color: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  min-height: 86px;
  display: flex;

  position: relative;
}

.found {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  margin-left: 72px;
  margin-top: 31px;
}

.sort {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  margin-left: 49px;
  margin-top: 12px;
}

.sort-title {
  margin-right: 40px;
}

.sort-list,
.sort-list li {
  list-style: none;
  display: inline-block;

  padding-left: 0px;
}

a.sort {
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal; 
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  margin-left: 0;
  margin-right: 30px;
  }

a.sort:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

a.sort:focus {
  color: #000000;
  border: none;
}

a.sort:active {
  color: #81b3d2;
  border: none;
}

.arrow {
  margin-left: 87px;
}

.arrow-up {
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23cacaca' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  top: 39px;
  right: 94px;
}

.arrow-down {
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23cacaca' d='M5.5 10L0 0h11'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  top: 39px;
  right: 71px;
}

.arrow-down:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23231F20' d='M5.5 10L0 0h11'/%3E%3C/svg%3E%0A");
}

.arrow-up:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23231F20' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E%0A");
}

.arrow-down:focus,
.arrow-down:active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%2381b3d2' d='M5.5 10L0 0h11'/%3E%3C/svg%3E ");
}

.arrow-up:focus,
.arrow-up:active
{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%2381b3d2' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E%0A");
}

a.active {
  color: #81b3d2;
  border: none;
}

span.active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%2381b3d2' d='M5.5 10L0 0h11'/%3E%3C/svg%3E ");
}

.hotel-column-info  {
  text-align: left;
  width: 50%;
  margin-left: 30px;
}

.hotel-column-info > h3 {
  margin-bottom: 0;
  margin-top: -2px;
}

.hotel-name {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:focus {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-info {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-align: left;
  color: #333333;
  margin-bottom: 15px;
}

.price {
  width: 66px;
  height: 11px;
  margin-left: 30px;
}

.rate {
  background-color: #f2f2f2;
  width: 81px;
  height: 16px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  color: #666666;
  border:1px solid transparent;
  padding: 5px 10px;
  margin-right: 0;
  margin-top: 50px;
}

.hotel-column-rate {
  margin-left: 180px;
  float: right;
}

.button-info {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 5px 15px;
}

.button-info:hover {
  background-color: #669ec0;
}

.button-info:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  width: 142px;
  height: 27px;
  background-color: #766357;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 5px 15px;

  margin-left: 2px;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.stars {
  height: 17px;
  background-image: URL("img/star.svg");
  background-repeat: space;
  background-size: 18px;

  text-align: right;
} 

.two {
 width: 38px;
}

.three {
  width: 60px;
}

.four {
  width: 85px;
}


/* СЕТКИ */

.features,
.advantages,
.footer,
.filter-form {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.advantages,
.hotel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-column-text,
.advantages-column {
  text-align: center;
  flex-grow: 1;
  flex-basis: auto;
}

.hotel {
  flex-wrap: wrap;
  background-color: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  min-height: 151px;
}

.hotel-column-img {
  width: 135px;
  height: 90px;
  align-self: center;
  padding-left: 72px;
}

.contact {
  margin: 0 auto;
  padding-top: 30px;
  background-color: #ffffff;
  position: relative;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}