body {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-image: url("background-photo.png");
  background-size:  1200px 773px;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #000000;
}
.site-navigation {
  margin: 0;
  padding: 0;
  min-height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px; 
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  margin: 10px auto;
  width: 239px;
}

.main-navigation-wrapper {
  width: 100%;
  background-color: #ffffff;
  min-height: 70px;
  margin-bottom: -15px;
}

ul.site-navigation li {
  width: 239px;
  list-style: none;
}

.right {
  text-align: right;
}

.main-navigation-logo {
   width: 140px;
  height: 71px;
  order: 2;
  object-fit: contain;
  position: absolute;

  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #bdbbbc;
}

a.current-page {
  color: #766357;
}

.welcome { 
  background-image:
  url(img/polygon.png),
  url(img/welcome.png), 
  url(img/background-photo.png);
  background-repeat: no-repeat;
  background-position: -1px 452px,
  370px 77px,
  0 -82px; 
  width: 1200px;
  min-height: 511px;
  margin: 0 auto;
  margin-bottom: -2px;
  padding: 0;
}

.main-intro {
  width: 440px;
  height: 48px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
  margin-top: -28px;
  margin-bottom: 35px;
}


.features-intro-text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

h3 {
  font-size: 21px;
  font-weight: bold;
}

.intro {
  min-height: 256px;
  background-color: white;
  margin: 0 auto -40px auto;
}
 
.features-column-text {  
  color: #ffffff;  
  background-color: #81b3d2;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.3px;

  text-align: center;
  vertical-align: middle;

  width: 400px;
  height: 256px;
  margin-top: -7px;
}

.features-column-text > h3 {
  margin-top: 49px;
  margin-bottom: 25px;
}

.features-description {
  margin-top: 20px;
  letter-spacing: 0.2px;
}

.features-column-img {
  width: 800px;
}

.advantages-column {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  color: #333333;
  min-height: 330px;
}

.advantages-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #000000;

  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 18px;
}

.souvenirs {
  margin-top: 23px;
  margin-left: 3px;
}

.advantages-img {
  margin-top: 52px;
}

.house {
  margin-left: 97px;
}

.food {
  margin-left: 115px;
}

.present {
  margin-left: 103px;
}

.advantages-text {
  margin-bottom: 81px;
  text-align: center;
}

.advantage {
  width: 400px;
  min-height: 256px;

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}

.advantage > h3 {
  font-size: 21px;
  font-weight: bold;

  margin-top: 43px;
}

.interested {
  font-size: 30px;
  font-style: bold;
  color: #000000;
  line-height: 36px;
  text-align: center;

  margin-top: 18px;
}

.indicate {
  font-size: 14px;
  font-style: bold;
  color: #333333;
  line-height: 24px;
  text-align: center;

  margin-bottom: 42px;
}

.search-form {
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-hotel {
  width: 568px;
  height: 86px;
  font-family: inherit;
  background-color: #766357;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.search-hotel:hover {
  background-color: #604e43;
}

.search-hotel:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-button {
  width: 458px;
  height: 58px;
  font-family: inherit;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.arrival,
.departure {
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
}

.arrival:hover,
.departure:hover {
background-color: #ebebeb;
}

.arrival:focus,
.departure:focus {
background-color: #ffffff;
}

.calendar:hover {

}

.footer{
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  opacity: 0.9;
  background-color: #ffffff;
}

.footer.visit {
  width: 136px;
  height: 16px;
}

.social {
  list-style: none;
  display: inline-block;
}

.social-button {
  background-color: #81b3d2;
  background-size: 46px 48px;
  height: 48px;
  width: 46px;
  display: inline-block;
  margin: auto;
}

.twitter svg {
  margin: 15px auto;
}

.facebook svg {
  margin: 12px auto;
}

.youtube svg {
  margin: 15px auto;
}
  
a.social-button:hover,
a.search-button:hover {
  background-color: #669ec0;
}

a.social-button:focus path{
  opacity: 0.3;
  background-color: #5496bd;
}

a.search-button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.by {
  color: #231f20;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
}

a.academy-button:hover path{
  fill: #81b3d2;
}

a.academy-button:focus path {
  fill: #bdbbbc;
}

/* Index */

.hotel-filter {
  width: 1200px;
  min-height: 217px;
  background-image: URL("img/background.png");
  background-repeat: no-repeat;
  background-position: 0 -290px;
  background-size: cover;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
} 

.filter-title {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-align: center;
  
  color: #ffffff;
  display: block;

  margin: 7px auto 22px -20px;
}

.filter-title:first-child {
  margin-left: -8px;
}

.filter {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  display: block;

  margin-bottom: 20px;
}

.infrastructure {
  margin-left: 80px;
}

.hotel-type {
  margin-left: 120px;
}

.filter-range {
  width: 330px;
  margin-top: 20px;
  margin-left: 365px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  height: 36px;
  margin-bottom: 20px;
  position: relative;

  border: 2px solid #ffffff;
  border-radius: 2px;
  
  font-size: 0;
}

.price-controls::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 30px auto 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.hotel-found {
  background-color: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  min-height: 86px;
}

.found {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  margin-left: -88px;
  margin-top: 10px;
}

.sort {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.sort-list,
.sort-list li {
  list-style: none;
  display: inline-block;

  margin-left: 65px;
}

a.sort {
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal; 
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  }

a.sort:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

a.sort:focus {
  color: #000000;
  border: none;
}

a.sort:active {
  color: #81b3d2;
  border: none;
}

.arrow {
  margin-right: -87px;
}

.hotel-column-info  {
  margin-left: -140px;
  margin-top: -25px;
}

.hotel-name {
  width: 210px;
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:focus {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-info {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-align: left;
  color: #333333;

  margin-top: -10px;
}

.price {
  width: 66px;
  height: 11px;
  margin-left: 30px;
}

.rate {
  background-color: #f2f2f2;
  width: 81px;
  height: 16px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  color: #666666;
  border:1px solid transparent;
  padding: 5px 10px;
}

.button-info {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 5px 15px;
}

.button-info:hover {
  background-color: #669ec0;
}

.button-info:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  width: 142px;
  height: 27px;
  background-color: #766357;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 5px 15px;

  margin-left: 2px;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}


/* СЕТКИ */

.features,
.advantages,
.footer,
.hotel,
.filter-form,
.hotel-found {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.features-intro,
.search-form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.features-column-text,
.advantages-column {
  text-align: center;
  flex-grow: 1;
  flex-basis: auto;
}

.features-column-img,
.hotel-column-info {
  flex-grow: 2;
}

.hotel {
  flex-wrap: wrap;
  background-color: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  height: 151px;
}

.hotel-column-info,
.hotel-column-img,
.hotel-column-rate {
  min-height: 150px;
}

.hotel-column-img {
  align-self: center;
  margin-top: 30px;
  margin-left: 70px;
}

.contact-us,
.footer-social,
.by,
.hotel-column-img,
.hotel-column-rate {
  flex-grow: 1;
}

.contact {
  margin: 0 auto;
  padding-top: 30px;
  background-color: #ffffff;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}