body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-image: url("background-photo.png");
  background-size:  1200px 773px;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px; 
  color: #000000;
  background-color: #;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #bdbbbc;
}
a.current-page {
  color: #766357;
}

li {
  list-style: none;
}

.welcome { 
  background-image:
  url(img/polygon.png),
  url(img/welcome.png), 
  url(img/background-photo.png);
  background-repeat: no-repeat;
  background-position: bottom,
  center,
  center; 
  width: 1200px;
  height: 733px;
}

.main-intro {
  width: 440px;
  height: 48px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.feature-item {
  width: 400px;
  height: 256px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.feature-image {
  width: 800px;
  height: 256px;
}

 
.feature-item li:first-child, 
.feature-item li:nth-child(2) {  
  color: #ffffff;  
  background-color: #81b3d2; 
} 

.feature-city {
  width: 252px;
  height: 34px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  color: #333333;
  display: flex;
  flex-direction: row;
}

.feature-city-title {
  width: 67px;
  height: 19px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.feature-number h3 {
  font-size: 21px;
  line-height: 21px;
}

.interested {
  font-size: 30px;
  font-style: bold;
  color: #000000;
  line-height: 36px;
  text-align: center;
}

.indicate {
  font-size: 14px;
  font-style: bold;
  color: #333333;
  line-height: 24px;
  text-align: center;
}

.search-hotel {
  width: 568px;
  height: 86px;
  background-color: #766357;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.search-hotel:hover {
  background-color: #604e43;
}

.search-hotel:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);

}

.search-button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.arrival,
.departure {
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
}

.arrival:hover,
.departure:hover {
background-color: #ebebeb;
}

.arrival:focus,
.departure:focus {
background-color: #ffffff;
}

.calendar:hover {

}

.footer{
  width: 223px;
  height: 20px;;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.footer.visit {
  width: 136px;
  height: 16px;
}

.social-button {
  background-color: #81b3d2;
  background-size: 46px 48px;
  padding: 10px
}

/*.twitter {
  padding: 14.5px 16.5px;
}

.facebook {
  padding: 17px 13px;
}

.youtube {
  padding: 13px 16px;
}*/
  
a.social-button:hover,
a.search-button:hover {
  background-color: #669ec0;
}

a.social-button:focus path{
  opacity: 0.3;
  background-color: #5496bd;
}

a.search-button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.by {
  color: #231f20;
}


a.academy-button:hover path{
  fill: #81b3d2;
}

a.academy-button:focus path {
  fill: #bdbbbc;
}

/* Index */

h3.filter {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

section.filter-form {
background-image: URL("img/background.png");
background-repeat: no-repeat;
background-size: 768px 512px;
} 

.filter {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.button-show {
  width: 133px;
  height: 32px;
  border: solid 2px #ffffff;
  background-image: none; 
  background: transparent;
  background-color: transparent;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.button-show:hover {
  width: 133px;
  height: 32px;
  background-color: #ffffff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.found {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.sort {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #000000;
}

a.sort {
  border: none;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal; 
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-decoration-line: underline;
  }

a.sort:hover {
  color: #81b3d2;
  text-decoration-line: underline;
}

a.sort:focus {
  color: #000000;
  text-decoration-line: underline;
}

a.sort:active {
  color: #81b3d2;
  text-decoration-line: none;
}

.hotel-name {
  width: 210px;
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:focus {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-info {
  width: 77px;
  height: 12px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.price {
  width: 66px;
  height: 11px;
}

.rate {
  background-color: #f2f2f2;
  width: 81px;
  height: 16px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  color: #666666;
}

.button-info {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

.button-info:hover {
  background-color: #669ec0;
}

.button-info:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  width: 142px;
  height: 27px;
  background-color: #766357;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}